<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>

</head>
<body>
<div id="display">
    <div class="listing">Houston, we have a problem.</div>

</div>
<script id="template-contact" type="template">
    <div class="contact">
        <h2><%-firstName%><% if (lastName { %> <%- lastName %><% } %></h2>
        <a href="mailto:<%-email%>"><%-email%></a><br />
        <a href="tel:<%-phoneNumber%>"><%-phoneNumber%></a><br />
        <button class="delete">Delete</button>
    </div>
</script>
</body>
<script src="scripts/main.js"></script>

<script src="scripts/models/contact.js"></script>
<script src="scripts/collections/contact.js"></script>
<script src="scripts/views/contact.js"></script>
<script src="scripts/views/directory.js"></script>
</html>